/** 
 *  This CSS provides all the style settings for
 *  our JavaFX controls.
 *
 *  @author McKilla Gorilla & _____________
 */

.slide_show_edit_vbox {
    -fx-background-radius: 5.0;
    -fx-background-color: rgb(135,206,235);
    -fx-border-color: rgb(50, 5, 5);
}

.tool_bar{
    -fx-background-color: rgb(135,206,235);
    -fx-font-family: "Courier New";
    -fx-font-style: "italic";
}

.slide_edit_view {
    -fx-background-radius: 10.0;
    -fx-background-color: rgb(135,206,235);
    -fx-border-color: rgb(70, 5, 5);
    -fx-border-thickness: 10px;
    -fx-spacing: 60px;
}

.vertical_toolbar_button {
    -fx-background-color: rgb(255, 255, 126);
    -fx-padding: 10px 10px 10px 10px;
    -fx-spacing: 50px;
}

.horizontal_toolbar_button {
    -fx-background-color: rgb(255, 255, 126);
    -fx-padding-left: 1000px;
    -fx-padding-right: 2000px;
    -fx-padding-top: 2000px;
    -fx-padding-bottom: 2000px;
}   

.work_space{
    -fx-background-color: rgb(255,99,71);
}
.btYES{
    text-align: center;
    -fx-border-spacing: 20px;
    -fx-margin: 15px;
    -fx-spacing: 50px;
    padding-top: 100px;
    //-fx-display: block;
    //-fx-width: 50px;
    -fx-alignment: CENTER;
    //-fx-background-color: rgb(70,130,180);
    //-fx-margin-left: auto;
    //-fx-margin-right: auto;
}

.btError{
     text-align: center;
    -fx-border-spacing: 200px;
    -fx-margin: 150px;
    -fx-button-spacing: 50px;
    padding-top: 100px;
    -fx-display: block;
    -fx-width: 5000px;
    -fx-alignment: CENTER;
    //-fx-background-color: rgb(70,130,180);
    //-fx-margin-left: auto;
    //-fx-margin-right: auto;
    -fx-padding-right: 500px;
    -fx-button-padding-left: 500px;
}

.root{
    -fx-font-color: rgb(255,255,0);
    //-fx-background-color: rgb(70,130,180);
    -fx-font-family: "Courier New";
    -fx-font-style: italic;
    -fx-base: rgb(255,255,0);
    -fx-button-color: rgb(135,206,235);
    -fx-text-align:center;
}